<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAUR60kbdT7MYqeuK6TgBq3sst_ikF6CKk</string>
	<key>GCM_SENDER_ID</key>
	<string>638244647648</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.meet.dialector</string>
	<key>PROJECT_ID</key>
	<string>dialector-bbb79</string>
	<key>STORAGE_BUCKET</key>
	<string>dialector-bbb79.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:638244647648:ios:d1fc748656e6067b679685</string>
</dict>
</plist>